# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Build files
dist/
build/

# Temporary files
tmp/
temp/

# VS Code settings
.vscode/